<%= form_for(@linkdump) do |f| %>
  <% if @linkdump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@linkdump.errors.count, "error") %> prohibited this linkdump from being saved:</h2>

      <ul>
      <% @linkdump.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
