<!DOCTYPE html>
<html ng-app="Graffitistudio">
<head>
  <title>Graffitistudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
  <div class="container-fluid sidebar">
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"></a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><%= link_to 'Главная', root_path %></li>
          <li class=""><%= link_to 'Раскрутка', promote_path %></li>
          <li class=""><%= link_to 'Стена', wall_path %></li>
          <li class=""><%= link_to 'Бесплатная раскрутка', free_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class=""><%= link_to 'Обратная связь', contacts_path %></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Graffitistudio</h1>
  </div>
</div>
<%= yield %>

</body>
</html>
